<div class="cp-drag-wrapper">
  <cp-drop [kndDropId]="'1'" (gotDropped)="gotDropped($event)"></cp-drop>
  <cp-drop [kndDropId]="'2'" (gotDropped)="gotDropped($event)"></cp-drop>
  <cp-drop [kndDropId]="'3'" (gotDropped)="gotDropped($event)"></cp-drop>
</div>

<br><br><br>

<knd-drag-wrapper class="cp-drag-wrapper">
  <cp-drag [id]="item.id" *ngFor="let item of items" [item]="item" [kndItem]="item"></cp-drag>
</knd-drag-wrapper>

<br><br><br>
<button (click)="createItems()">re-create items</button>
<button (click)="emptyItems()">clear items</button>
<button (click)="popModal()">pop modal</button>
<br><br><br>