.wrapper {
    width: 200px;
    height: 200px;
    background-color: green;
    display: flex;
    justify-items: center;
    align-items: center;

}

:host {
    &.knd-drop-isHovering {
        opacity: 0.5;
    }
}

p {
    color: white;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}